//colours
$veryDarkBlue: hsl(243,87%,12%);
$DesaturatedBlue: hsl(238,22%,44%);
$pink: rgb(255,192,203);
$lightPink: rgb(255,182,193);
$hotpink: rgb(255,105,180);
$brightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);
$LightGrayishBlue: hsl(240, 75%, 98%);
$LightGray: hsl(0, 0%, 75%);
$darkBlue:hsl(233,26%,24%);
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);


//font size
$fontMed: 1.125rem;
$fontSmall: 0.875rem;



